@charset "UTF-8";

.container-product-register {
	flex: 1 0 auto;
	max-height: 100%;
}

.inner-container-product-register {
	font-family: Arial, sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    border-color: black;
}

.title-register-product {
	margin-left: 0px !important;
}

/* .inner-container-product-register input[type="text"], */
/* .inner-container-product-register input[type="number"], */
/* .inner-container-product-register textarea, */
/* .inner-container-product-register label { */
    
/* } */

.inner-container-product-register input,
.inner-container-product-register textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .inner-container-product-register label { */
/*     font-weight: bold; */
/* } */

/* .inner-container-product-register input[type="submit"] { */
/*     background-color: #007bff; */
/*     color: white; */
/*     border: none; */
/*     padding: 10px 20px; */
/*     text-align: center; */
/*     text-decoration: none; */
/*     display: inline-block; */
/*     font-size: 16px; */
/*     cursor: pointer;  */
/*     border-radius: 4px; */
/* } */

/* .inner-container-product-register input[type="submit"]:hover { */
/*     border-color: blue; */
/* } */

/* @media screen and (max-width: 768px){ */
/* 		.section-register-product { */
/* 		margin-top: 23%; */
/* 		margin-bottom: 100%; */
/* 	} */
/* 		.container-product-register { */
/* 		width: 100%; */
/* 		height:100%; */
/* 	} */
/* } */



