@charset "UTF-8";

.body-form-main {
    flex: 1;
}

.body-form-section {
	display: flex;
    justify-content: center;
    height: 100vh;
}

.form-wrapper {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 15px;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    z-index: 1; 
}

.form-wrapper {
	font-family: Arial, sans-serif;
}

/* Estilo do h2 */
h2 {
	color: white;
    margin-bottom: 20px;
    text-align: left;
}

.form-control {
    margin-bottom: 15px;
    padding-bottom: 5px;
}

/* Estilo do label */
label {
	color: white;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px 20px; /* Espaçamento interno de 10px no topo e na base e 20px nos lados */
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    text-align: left;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
}


/* Estilo do button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-help {
	margin-top: 10px;
	align-items: center;
}

.form-help input {
    display: none;
}

.form-help input + label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 5px;
    border: 1px solid transparent;
}

.form-help input:checked + label:before {
	background-image: url(/shop-ease/content/resources/images/icons8-checked.svg);
	background-position: center;
	border: none;
	background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 5px;
    background-origin: content-box;
    border: 1px solid transparent;
}

.form-help input:hover + label:before {
    border-color: blue;
    cursor: pointer;
}

.form-help::after {
    content: "";
    display: block;
    clear: both;
}

.form-help input[type="checkbox"],
.form-help label,
.form-help a {
    float: left;
    clear: none;
}

.form-help a {
    float: right;
}

small {
    display: block;
    margin-top: 15px;
    color: #777;
}

.form-wrapper p {
	color: white;
}

/* Estilo do small a */
small a {
    color: #007bff;
    text-decoration: none;
}
